#contact-page-card{
    display: flex;
    justify-content: center;
}

#contact-info{
    width: 600px;
    height:auto;
}

.contact-page-title{
    font-size:25px;
}

.separator {
    user-select: none;
    margin: -5px 0px 10px 0px;
}

.contact-info, .hours p, .email, .contact-info p, .container h1 {
    margin-bottom:10px;
}