@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.slick-slider{
  @apply bg-white shadow-sm;
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*/

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #8695c0;
  width: 100%;
  height: auto;
  padding: 20px;
  
}
#footer-content{
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 0;
}

#reviews-wrapper{
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index:1;
  margin-bottom:250px;
}

#curve{
  width: 100%;
  height:100px;
  padding:50px;
  border-top-left-radius: 1500px 50px;
  border-top-right-radius: 1500px 50px;
  background: #8695c0;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
  margin: 0;
}

.logo-contact-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
}

.logo {
  margin-bottom: 10px;
}

.contact-location {
  color: white;
  text-align: center;
}

.appbar-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  text-align: left;
}

.appbar-content a {
  color: white;
  text-decoration: none;
  margin: 5px 0;
}

.appbar-content a[href="#"] {
  text-decoration: none;
}

.image-container {
  height: 10%;
  width: 10%;
}

.wrapper p {
  text-align: left;
}

.wrapper h2 {
  text-align: left;
}

#contact-title, #title{
  font-weight:bold;
  color: white;
  font-size: 20px;
  margin-bottom:5px;
  
}

.contact-info div {
  margin-bottom: 10px;
  text-align: left; 
}
.footer-info-wrapper{
  display: flex;
  align-items: center;
  
}

#phone-number, #email{
  
  margin: 0px 0px 0px 10px;
}

/*384C84*/
.image-container{
  background-color: #384C84;
  border-radius: 50px;
  
}
.star-image-container{
  display: flex;
  width:auto;
}

.star-image{
  padding-right:5px;
}

#rating-container{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height:10%;
}

#location-image, #phone-image{
  padding: 7px;
}

#address{
  margin: 0px 0px 10px 10px;
}

.appbar-content a{
  margin-top:0px;
}

.reviews{
  display: flex;
  justify-content: center;
  z-index: 1; 
  position: relative;
}
/*
#review-box-wrapper{
  width: 35%;
  height: 500px;
  background-color: white;
  border-radius: 50px;
  box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.25);
  outline: 0.05px solid rgb(235, 235, 235);
  display: flex;
  justify-content: center;
  align-items: center;
  
}
*/
#review-box{
  margin:50px 80px 50px 80px;
}

#review-textbox{
  font-size: 18px;
}

#testimonials-container{
  border-radius: 50px; 
  box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.25);
  outline: 0.05px solid rgb(235, 235, 235);
  max-width: 800px; 
  margin-left: auto; 
  margin-right: auto; 
  position: relative; 
  overflow: hidden; 
}

#testimonial-text{
  text-align: center; 
  font-size: 1.5rem; 
  padding-top: 2rem;
  padding-bottom:.25rem;
}