@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*/

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #8695c0;
  width: 100%;
  height: auto;
  padding: 20px;
  
}
#footer-content{
  position: fixed;
  bottom: 0;
  width: 100%;
}

#curve{
  width: 100%;
  height:100px;
  padding:50px;
  /*border-radius:100px 100px 0px 0px ;*/
  border-top-left-radius: 1500px 50px; /* Adjust values for curvature */
  border-top-right-radius: 1500px 50px; /* Adjust values for curvature */
  background: #8695c0;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
  margin: 0;
}

.logo-contact-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
}

.logo {
  margin-bottom: 10px;
}

.contact-location {
  color: white;
  text-align: center;
}

.appbar-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  text-align: left;
}

.appbar-content a {
  color: white;
  text-decoration: none;
  margin: 5px 0;
}

.appbar-content a[href="#"] {
  text-decoration: none;
}

.image-container {
  height: 10%;
  width: 10%;
}

.wrapper p {
  text-align: left;
}

.wrapper h2 {
  text-align: left;
}


