@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 248, 248, 248;
  --background-end-rgb: 248, 248, 248;
}

.slick-slider {
  @apply bg-white shadow-sm;
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*/

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-start-rgb));
}

#home-page{
  display: flex;
  flex-direction: column;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/*TESTIMONIALS*/

#reviews-wrapper{
  bottom: 0;
  width: 100%;
}
  

.star-image{
  margin-top:-10px;
  min-width: 150px;
}
  
#rating-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.reviews{
  display: flex;
  justify-content: center;
  
}
  
#review-box{
  margin:50px 80px 50px 80px;
}
  
#review-textbox{
  font-size: 18px;
}
  
#testimonials-container{
  border-radius: 50px; 
  box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.25);
  outline: 0.05px solid rgb(235, 235, 235);
  max-width: 900px; 
  margin-left: auto; 
  margin-right: auto; 
  position: relative; 
  overflow: hidden; 
}
  
#testimonial-text{
  background-color: white;
  text-align: center; 
  font-size: 1.5rem; 
  padding-top: 2rem;
}

/*FOOTER*/

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #8695c0;
  width: 100%;
  height: auto;
  padding: 50px 20px 20px 20px;

}

#curve{
  width: 100%;
  height:100px;
  padding:50px;
  border-top-left-radius: 1500px 50px;
  border-top-right-radius: 1500px 50px;
  background: #8695c0;
}

#footer-content{
  bottom: 0;
  width: 100%;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
  margin: 0;
  padding:0px 40px 0px 40px;
}

.contact-location {
  color: white;
  text-align: center;
}

.appbar-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  text-align: left;
}

.appbar-content a {
  color: white;
  text-decoration: none;
  margin: 5px 0;
  margin-top:0px;
}

.appbar-content a[href="#"] {
  text-decoration: none;
}

.image-container {
  height: 10%;
  width: 10%;
  position: relative;
}

.wrapper p {
  text-align: left;
}

.wrapper h2 {
  text-align: left;
}

#location-image, #phone-image{
  padding: 7px;
}

#contact-title, #title{
  font-weight:bold;
  color: white;
  font-size: 20px;
  margin-bottom:5px;
  
}

#address{
  margin: 0px 0px 10px 10px;
}

.contact-info div {
  margin-bottom: 10px;
  text-align: left; 
}
.footer-info-wrapper{
  display: flex;
  align-items: center;
  
}

#phone-number, #email{
  
  margin: 0px 0px 0px 10px;
}

.image-container{
  background-color: #384C84;
  border-radius: 50px;
  
}

.separator {
  user-select: none;
  margin: 30px 0;
}



/*DOCTORS PAGE*/



.container {
  margin: 3em;
  display: flex;
  flex-wrap: wrap;
  gap: 3em 1em;
  justify-items: center;
  align-items: center;
  justify-content: center;
}
.card-content {
  padding: 1rem;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20em;
  border-radius: 5px;
}

.card img {
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.div-with-bg {
  position: relative;
  background-size: cover;
  background-position: center 30%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25rem;
}

.div-with-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/images/team-page-banner.jpg");
  background-size: cover;
  background-position: center 30%;
  background-repeat: no-repeat;
  opacity: 0.7;
  z-index: 1;
}

.div-with-bg > * {
  position: relative;
  z-index: 2;
}

.logo-font {
  font-size: 50px;
  font-weight: bold;
}

.submenu {
  padding-left: 1.5em;
}

.submenu-item {
  padding: 5px;
}

.icon-wrapper {
  margin-left: 8px;
}

.team-heading {
  font-size: 3em;
  text-align: center;
  padding-top: 1em;
  color: #fffcfcef;
  font-weight: bold;
}

.team-subheading {
  text-align: center;
  padding-top: 0.5em;
  color: #fffcfcef;
}

