#reviews-wrapper{
  
  bottom: 0;
  width: 100%;
  
  
}
  

.star-image{
  margin-top:-10px;
  min-width: 150px;
}
  
#rating-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.reviews{
  display: flex;
  justify-content: center;
  
}
  
#review-box{
  margin:50px 80px 50px 80px;
}
  
#review-textbox{
  font-size: 18px;
}
  
#testimonials-container{
  border-radius: 50px; 
  box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.25);
  outline: 0.05px solid rgb(235, 235, 235);
  max-width: 800px; 
  margin-left: auto; 
  margin-right: auto; 
  position: relative; 
  overflow: hidden; 
}
  
#testimonial-text{
  background-color: white;
  text-align: center; 
  font-size: 1.5rem; 
  padding-top: 2rem;
}